@font-face {
  font-family: Arial Narrow;
  src: local("Arial Narrow"); }
/*********** MIXINS & VARIABLES & FONT FACE ***********/
/******** Mixins ********/
/******** Variables ********/
/******** Font Face ********/
/******** Classes for common used properties ********/
.font-12 {
  font-size: 12px; }

.font-10 {
  font-size: 10px; }

.upperCase {
  text-transform: uppercase; }

.noBorder {
  border: none; }

.noTextDecoration {
  text-decoration: none; }

/******** Basic Elements ********/
body {
  margin: 0 auto;
  max-width: 950px; }

h1, h2, p, a, button {
  font-family: Arial, serif; }

h1 {
  font-weight: lighter;
  margin-bottom: 0; }

h2 {
  color: #868686; }

section {
  display: inline-flex;
  justify-content: center; }

figure {
  width: 120px;
  height: 80px;
  background-color: #f9f3f3;
  margin: 4px; }

/******** Header ********/
#hr-1 {
  height: 4px;
  background-color: #96bde1; }

.button-container {
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  justify-content: flex-end;
  margin-left: 86%;
  /* Temporary IE 10 Bug work around */ }

.add-img {
  background-color: #b760a9;
  color: #ffffff;
  padding: 8px;
  border-radius: 5px; }

.icon-1 {
  width: 10px;
  height: auto;
  margin: 0px 5px 0px 5px; }

.img-nav {
  max-height: 20px;
  /* Fixed IE 10 Bug */
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: -8px; }

.img-alt {
  position: relative;
  font-size: 16px;
  line-height: 0%;
  width: 120px;
  border-bottom: 20px solid #b9b8b8;
  border-right: 10px solid #ffffff; }

.img-alt:first-of-type {
  border-bottom: 20px solid #b760a9; }

.img-alt p, .img-alt i {
  position: absolute;
  color: #ffffff; }

.img-alt p {
  font-family: "Arial Narrow", Georgia, sans-serif;
  margin-left: 4px; }

.img-alt i {
  font-size: 10px;
  padding: 4px;
  margin-left: 100px; }

#hr-2 {
  height: 4px;
  background-color: #b760a9; }

/******** Main Content ********/
.img-container, .arrow-container, .page-view, .search-img, .tags-icons, .tag-section, .media-icons {
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.img-container {
  height: 353px;
  /* Fixed IE 10 Bug */
  max-width: 950px;
  /* Fixed IE 10 Bug */ }

.arrow-container {
  -ms-flex-align: center;
  /* Fixed IE 10 Bug */
  align-items: center;
  -ms-flex-pack: center;
  /* Fixed IE 10 Bug */
  justify-content: center;
  width: 20px;
  height: 345px;
  border-radius: 3px;
  background-color: #e1e1e1;
  margin: 4px; }

.img-col, .tag-links {
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }

.page-view {
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  justify-content: flex-end;
  margin-left: 86%;
  /* Temporary work around for IE 10 bug */ }

.arrow-left, .arrow-right {
  position: relative;
  width: 16px;
  height: 16px;
  border: 0.5px solid grey;
  margin: 0px 4px 0px 4px; }

.arrow-left i, .arrow-right i {
  position: absolute;
  margin-top: -50%;
  transform: scale(0.6); }

.dropdown {
  padding: 5px; }

#label-1, #label-2, .tag-section, .page-view {
  font-family: Arial; }

#label-1, #label-2, .tag-section a {
  color: #b760a9; }

.tag-section a {
  margin-left: 10px; }

.media-icons {
  align-self: flex-start;
  margin-left: 300px; }

.media-icons a {
  align-self: center; }

.icon {
  width: 18px;
  height: 18px; }

/******** Footer ********/
.contact, .link-section, .links-2 {
  display: -ms-flexbox;
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row; }

.link-section a, .agria-ao, .links-2 a {
  color: #868686; }

.links-1, .contact {
  justify-content: space-around; }

.contact, .link-section, .tags-icons {
  margin-top: 12px; }

.contact {
  -ms-flex-align: center;
  /* Fixed IE 10 Bug */
  align-items: center;
  background-color: #0059a1;
  width: 100%;
  height: 36px; }

.contact p {
  color: #438fcc;
  padding: 16px; }

.contact p:first-of-type {
  color: #ffffff;
  font-size: 16px; }

.link-section {
  justify-content: space-between;
  max-height: 118px;
  /* fixed IE 10 bug */
  -ms-flex-pack: center;
  /* fixed IE 10 bug */ }

.links-1 {
  align-items: flex-start;
  justify-content: space-between;
  -ms-padding: 12px;
  /* Temporary work around for IE 10 bug */ }

.agria-ao {
  display: -ms-flexbox;
  /* Fixed IE 10 Bug */
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: flex-end;
  margin-left: 86%;
  /* Temporary work around for IE 10 bug */
  font-family: Arial; }

.agria-ao p, .agria-ao i {
  align-self: flex-end; }

#hr-3 {
  height: 2px;
  background-color: #0059a1; }

.links-2 {
  -ms-flex-pack: center;
  /* fixed IE 10 bug */
  justify-content: center;
  -ms-flex-align: center;
  /* Fixed IE 10 Bug */
  align-items: center;
  width: 100%;
  height: 36px;
  background-color: #e1e1e1; }

.links-2 a {
  padding: 5px; }

/*# sourceMappingURL=main.css.map */
